<div class="row">
  <h1 class="center">Make your own burger!</h1>
  <div class="col s4">
    <div id="notDevoured">
      <h3 class="center">Not Devoured!</h3>
      <ul>
        {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=true}} {{/unless}} {{/each}}
      </ul>
    </div>
  </div>


  <div class="col s4">
    <img src="https://media1.giphy.com/media/WBTUlyKBVlTTa/giphy.gif" data-still="https://media1.giphy.com/media/WBTUlyKBVlTTa/giphy_s.gif"
      data-animate="https://media1.giphy.com/media/WBTUlyKBVlTTa/giphy.gif" data-state="still" class="gif" id="burgergif">
  </div>


  <div class="col s4">
    <div id="devoured">
      <h3 class="center">Devoured!</h3>
      <ul>
        {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devoured=false}} {{/if}} {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <h3 class="center">Add a Burger</h3>
  <form class="create-form">
    <div class="input-field col s11">
      <input type="text" id="ca" name="name">
      <label for="ca">Burger Name:</label>
    </div>
    <div class="col s1">
      <button id="subButton" class="waves-effect waves-light btn brown darken-1" type="submit">Add Burger</button>
    </div>
  </form>
</div>