<div class="row">
  <h1 class="center">Make A Burger!</h1>
  <div class="col s4">
    <div id="notDevoured">
      <h3>Not Devoured!</h3>
      <ul>
        {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=true}} {{/unless}} {{/each}}
      </ul>
    </div>
  </div>


  <div class="col s4">
    <img src="https://media1.giphy.com/media/WBTUlyKBVlTTa/giphy.gif" data-still="https://media1.giphy.com/media/WBTUlyKBVlTTa/giphy_s.gif"
      data-animate="https://media1.giphy.com/media/WBTUlyKBVlTTa/giphy.gif" data-state="still" class="gif" id="burgergif">
  </div>


  <div class="col s4">
    <div id="devoured"></div>
    <h3>Devoured!</h3>
    <ul>
      {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devoured=false}} {{/if}} {{/each}}
    </ul>
  </div>
</div>

</div>

<form class="create-form">
  <div class="row form-group">
    <h3>Add a Burger</h3>
    <div class="col s11">
      <label for="ca">Burger Name:</label>
      <input class="input-field" type="text" id="ca" name="name">
    </div>
    <div class="col s1">
      <button id="subButton" class="waves-effect waves-light btn brown darken-1" type="submit">Add Burger</button>
    </div>
  </div>
</form>