li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  body {
    background-color: #343334;
  }

  #burgergif {
    margin:0 auto;
    width: 400px;
  }
/* 
  button {
    float: right;
  } */

  /* #notDevoured {
    display: inline;
    float: left;
  }

  #devoured {
    display: inline;
    float: right;
  } */