<li>
	{{name}}

	<button class="change-devoured waves-effect waves-light btn brown darken-1" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat Me!{{else}}Devoured!{{/if}}
	</button>
</li>
